.skin_background {
	background: radial-gradient(circle,#484848 0,#000 100%);
  	color: #fafafa;
}

/* General Window Content */
.ui_window__head {
  	background: linear-gradient(135deg,#484848 0,#000 100%) !important;
}

.ui_window {
	box-shadow: 1px 0 #000, 0 1px #000, 1px 1px #000, inset 1px 1px #fff, 0 0 150px 1px rgb(110 146 156 / 50%);
	background: #121212;
  	color: #fafafa;
}

.ui_explorer, .ui_explorer span, .ui_menu__item,.ui_menu__item__text, .ui_window__body,.js-mask {
	background: #121212;
  	color: #fafafa;
}

/* Selects */
.ui_menu__item--focus {
  	background: #18181f;
  	color: #fafafa;
}

/* IFrames */
/*.ui_window__iframe {
	background: #121212 !important;
  	color: #fafafa !important;
}*/
